{% block body %}
<style>

.carte{
    background-color: white;
    margin-left: 40px;
    margin-top:5%;
    width: 25%;
    padding:20px;
    float:left;
    margin-right:30px;
    text-align:center;
    color:black;
    border-radius:10px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.carte:hover{
    color:#0B6DB8;
}

</style>
{% include 'bases/header.html.twig' %}

    <div style="float:right; margin-right:20px;font-size:20px;" class="container-xl col-md-9" style="font-family: 'Roboto', sans-serif;">
      <a href="{{ path('app_client') }}" >
        <div class="carte">
            <i style="font-size:120px;" class="bi bi-people"></i>
            <h2>Total Clients</h2>
          </div>
        </a>
        <a href="{{ path('app_dmz') }}" >
        <div class="carte">
            <i style="font-size:120px;" class="bi bi-router"></i>
            <h2>DMZ</h2>
          </div>
        </a>
        <a href="{{path('app_dmz_client')}}" >
        <div class="carte">
          <b style="font-size:120px;"><i class="bi bi-router"></i><i class="bi bi-person"></i></b>
          <h2>DMZ Clients</h2>
        </div> 
        </a>
        <a href="{{ path('app_ls_standars')}}" >
         <div class="carte">
          <i style="font-size:120px;" class="bi bi-people"></i>
          <h2>LS Standars</h2>
        </div> 
        </a> 
        <a href="{{ path('app_ls_particulier')}}" >
         <div class="carte">
          <i style="font-size:120px;" class="bi bi-people-fill"></i>
          <h2>LS Particulier</h2>
        </div> 
        </a> 
        <a href="{{ path('app_adsl')}}" >
         <div class="carte">
          <i style="font-size:120px;" class="bi bi-people-fill"></i>
          <h2>ADSL</h2>
        </div> 
        </a> 
        <a href="" >
         <div class="carte">
          <i style="font-size:120px;" class="bi bi-people-fill"></i>
          <h2>BLR</h2>
        </div> 
        </a>
        

    </div> 

{% include 'bases/slidebar.html.twig' %}

{% endblock %}